* {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

#ham-menu {
  position: fixed;
  left: 0%;
  top: -1%;
  height: 100%;
  width: 100%;
  text-align: left;
  z-index: 99;
  background-color: rgb(10, 17, 32);
  backdrop-filter: blur(10px);
}

.ham {
  list-style: none;
  font-size: 46px;
}

.ham-items {
  text-decoration: none;
  color: white;
}

.head {
  background-color: white;
  justify-content: flex-start;
  height: 63px;
  padding-top: 6%;
}

.logo {
  width: 50px;
  margin-left: 369%;
  margin-top: -45%;
}

#menu {
  padding-top: 9%;
}

.main-headline {
  width: fit-content;
  background-image: url(Images/mainbg.png);
  background-size: 200% 83%;
  background-repeat: no-repeat;
  padding-left: 2%;
}

.welcome {
  margin: 0%;
  padding-top: 10%;
  background: -webkit-linear-gradient(#0a4d68, #32406d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Meco {
  font-size: 50px;
  color: rgb(61, 20, 175);
  margin-top: 0%;
}

.welcome-2 {
  margin: 0%;
  background: -webkit-linear-gradient(#1692c4, #133fcf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-headline p {
  padding-top: 16%;
  background: -webkit-linear-gradient(#0a445c, #8668da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 36%;
}

.bottom {
  color: rgba(20, 20, 114, 0.781);
  padding-top: 30%;
}

.menu_items {
  display: none;
}

.program {
  position: absolute;
  top: 112%;
  width: fit-content;
  background-image: url(./images/repeat-bg.png);
  padding: 24px;
  left: 0%;
}

.prog-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: white;
  padding: 20px;
  margin-bottom: 7%;
  background: rgba(255, 255, 255, 0.1);
}

.prog-items h2 {
  color: red;
}

.prog-items img {
  width: 21%;
}

.red-bar,
.red-bar_1 {
  width: 53px;
  height: 16px;
  border-bottom: 1px solid rgb(239, 81, 60);
  margin: 0 auto 54px;
}

.red-bar_1 {
  margin-top: -7%;
}

.section-heading {
  font-weight: bold;
  text-align: center;
  color: white;
}

.section-heading_1 {
  color: black;
}

.register-btn {
  width: 50%;
  height: 50px;
  background-color: #ec5242;
  border-radius: 4px;
  border-color: transparent;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
  align-self: center;
  margin: 30px 5px 35px 75px;
}

.speaker_section {
  position: absolute;
  top: 274%;
}

.partner-img {
  width: 120px;
  height: 120px;
}

.grp-2 h2 {
  height: 24px;
  width: 197px;
  margin-top: 2%;
  margin-bottom: 2%;
}

#speaker_section > h2 {
  text-align: center;
  margin-bottom: 10%;
}

#speaker_section > hr {
  margin: 10px auto 54px;
  width: 60px;
  border: 1px solid #ec5242;
}

#speaker_section-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 16px;
}

.grp-1 {
  gap: 20px;
  display: flex;
}

.grp-2 h4 {
  margin-top: 2%;
  color: red;
  margin-bottom: 0%;
  font-style: italic;
}

.grp-2 p {
  margin-top: 7%;
  margin-bottom: 20%;
}

#whole-program,
.partners-section,
.footer-rights {
  display: none;
}

.aside-section {
  display: none;
}

@media only screen and (min-width: 768px) {
  #ham-menu {
    display: none;
  }
  
  .main-headline {
    height: 1076px;
    width: 99%;
    background-image: url(Images/mainbg.png);
    background-size: 124% 93%;
    background-repeat: no-repeat;
    background-color: #f1f1f1;
    /* padding-left: 2%; */
    margin-left: -1%;
  }

  .program {
    top: 127%;
    width: 98%;
    background-image: url(./images/repeat-bg.png);
    padding: 24px;
    left: -2%;
  }

  .logo {
    width: 12%;
    margin-left: 3%;
    margin-top: -8%;
  }

  #menu {
    display: none;
  }

  .menu_items {
    display: flex;
    list-style: none;
    justify-content: space-around;
    position: absolute;
    top: 8%;
    right: 14%;
    text-decoration: none;
  }

  .nav_items {
    padding-left: 18%;
    font-weight: 700;
    font-size: 20px;
  }

  .nav_items a {
    text-decoration: none;
  }

  .Meco {
    padding-left: 5%;
    margin-top: 1%;
    margin-bottom: 0%;
  }

  .welcome-2 {
    font-size: 30px;
    margin-top: 1%;
    padding-left: 5%;
  }

  .welcome {
    padding-left: 5%;
  }

  .date,.venue {
    margin-left: 5%;
    color: blueviolet;
  }

  .bottom {
    font-size: 18px;
    /* padding-top: 35%; */
    height: 27;
    /* width: 66%; */
    /* padding-left: 5%; */
    box-sizing: border-box;
    background-color: #d7dae7;
    opacity: 68%;
    padding-bottom: -15%;
    margin-left: 5%;
    border: 10px solid white;
    padding: 1%;
    margin-right: 55%;
    margin-left: 4%;
  }

  .main-headline p {
    display: none;
  }

  .speaker_section {
    top: 191%;
    margin-left: 6%;
  }

  #featured-speakers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 107%;
  }

  .prog-items img {
    width: 30%;
  }

  .partners-section h2 {
    text-align: center;
    color: white;
  }

  #speaker_section > h2 {
    width: 68%;
    margin-left: 19%;
  }

  .red-bar_1 {
    margin-left: 50%;
    margin-top: -9%;
  }

  .main-prog-items {
    display: flex;
  }

  .prog-items {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    text-align: center;
    gap: 6%;
  }

  .register-btn {
    display: none;
  }

  #whole-program {
    display: block;
    font-weight: 400;
    font-size: 20px;
    color: white;
    text-align: center;
  }

  .grp-1 {
    display: flex;
    flex-wrap: wrap;
  }

  .partners-section {
    display: block;
    background-color: #3f444f;
    padding: 2% 0;
    width: 103%;
    margin-left: -3%;
    margin-top: 82rem;
  }

  .partners-flex {
    width: 90%;
    margin: auto;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .partners-list {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 29px;
  }

  .logo-2 {
    width: 24%;
    margin-left: 30%;
  }

  .sponsor {
    width: 16%;
    height: 75%;
    filter: invert(90%) hue-rotate(311deg) brightness(80%) contrast(10%);
  }

  .footer-rights {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    padding: 2% 0;
    margin-left: 5%;
  }

  .contact {
    background: #f7f7f8;
  }

  .copy-rights {
    font-size: 2rem;
    margin-left: -46%;
    color: #000;
    padding-right: 60%;
  }

  .aside-section {
    display: block;
    background-color: #3e3e3e;
    margin-top: -1%;
    margin-left: -1%;
  }

  .top-elements {
    display: flex;
    flex-direction: row;
    padding: 9px;
    font-weight: 400;
    font-size: 14px;
    gap: 10px;
    justify-content: flex-end;
    margin-right: 10%;
    color: #d3d3d3;
  }

  .top-elements a {
    text-decoration: none;
    color: inherit;
  }
}
